body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
i{
  cursor: pointer;
}
.container {
  width: 90%;
  margin: 20px auto;
}
.recent-location {
  font-size: 12px;
  padding: 0.5em 1.5em 0.1em 1.5em;
  margin-bottom: 0.2em;
}
.light-line {
  border: none;
  border-bottom: 0.5px solid #ddd;
  width: 95%;
  margin: 0 auto;
}
.header-icon {
  float: right;
  font-weight: 100 !important;
  font-size: 1em !important;
}
.img-weather {
  width: 150px !important;
  height: 150px !important;
}
.ui.tabular.menu .item {
  padding: 6px !important;
}
.display-none{
  display: none !important;
}
.tile{
  text-align: center;
}
.clear{
  float: right !important;
}